
<!--desktop player container-->
<app-player (click)="editPlayer(i)"  *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px':130+i*70}" 
[name]="player" 
[image]="game.player_images[i]"
[playerActive]="i == game.currentPlayer"
class="player-position hide-mobile" ></app-player>

<!--mobile player container-->
<div class="scroll-container hide-desktop">
<app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index;"  
[name]="player" 
[image]="game.player_images[i]"
[playerActive]="i == game.currentPlayer"></app-player-mobile>
</div>

<!--game over screen-->
<div class="gameover-screen" *ngIf="gameOver">
<img src="./assets/img/game_over.jpg" alt="">

</div>

<!--playing field-->
<div class="field" *ngIf="!gameOver">
<div class="card-stack">
   <!--cards stack-->
    <img [ngStyle]="{'right.px':i*9}" *ngFor='let c of [0,1,2,3]; let i = index;' src="./assets/img/cards/card_cover.png" alt="">
    <img (click)="takeCard()" [class.pick-card]="game.pickCardAnimation" class="top-card" style="right: 35px" src="./assets/img/cards/card_cover.png" alt=""> <!--top card-->

<!--played cards stack-->
    <img *ngFor='let card of game.playedCards; let i = index;' class="played-card" src="./assets/img/cards/{{ card }}.png" alt="">

<!--top card animation-->
    <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" id="topcard" style="right: 35px" src="./assets/img/cards/{{ game.currentCard }}.png" alt="">
</div>

<!--rule field-->
<app-game-info class="pin-bottom" [card]="game.currentCard"></app-game-info>

<!-- + button-->
<button (click)="openDialog()" class="button-add" mat-fab color="primary" aria-label="add a player">
    <mat-icon>add</mat-icon>
  </button>

</div>